version: '3.2'

services:
  portainer:
    image: portainer/portainer:1.14.0
    ports:
      - "9000:9000"
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        read_only: true
      - type: volume #To persist portainer datas
        source: portainer_data
        target: "/data"
    deploy:
      restart_policy:
        condition: on-failure

volumes:
    portainer_data:
